@import "bootstrap/dist/css/bootstrap.min.css";
@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
  --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif;
}

#meuModal {
    overflow-y: auto;              /* continua rolando */
    -ms-overflow-style: none;      /* IE/Edge antigo */
    scrollbar-width: none;         /* Firefox */
}

#meuModal::-webkit-scrollbar {     /* Chrome/Safari */
    display: none;
}
